<div id='content-page'>

<div class='page-content'>
  <h1 class ='page-title'>Merchants</h1>
  <h2 class ='page-intent'>Overview</h2>
  <p class ='page-element'>Merchants for review</p>
  <form action="/merchants" method="get">
    <label for='order-select'>Order:</label>
    <select id='order-select' name='order'>
      <option value='ASC'>Ascending</option>
      <option value='DESC'>Descending</option>
    </select>
    <input type="submit" value="Sort" />
  </form>
  <hr/>
  <table class='table-data'>
    <tr class='header'>
      <th>Merchant Name</th>
      <th></th>
      <th></th>
    </tr>
    <%for merchant in @merchants%>
    <tr>
   <td value='<%=merchant.merchant_name_str%>'><a href='/merchants/<%=merchant.id%>/transactions'><%=merchant.merchant_name_str%></a></td>

   <td value='edit'><form action="/merchants/<%=merchant.id%>/edit" method="get">
     <input type="image" src="images/edit_icon.png" border="0" alt="submit" style="width:20px;" />
  </form></td>
   <td value='delete'>
     <form action="/merchants/<%=merchant.id%>/delete" method="post">
       <input type="image" src="images/delete_icon.png" border="0" alt="delete" style="width:20px;" />
    </form>
<%end%>
</tr>
  </table>
</div>
</div>
