<div id='content-page'>
<div class='page-content'>
  <h1 class ='page-title'> Merchants</h1>
  <h2 class ='page-intent'>Transactions with <%=@merchant.merchant_name_str%> </h2>
  <p class ='page-element'></p>

</p id='sum-value'><b>Amount spent:<%=@sum%></b></p>
<table class='table-data'>
  <tr class='header'>
    <th>Date</th>
    <th>Merchant Name</th>
    <th>Tag Name</th>
    <th>Amount</th>
    <th></th>
    <th></th>
  </tr>
  <%for transaction in @transactions%>
  <tr class='transaction_rows'>
    <td value='<%=transaction.trans_date%>'><%=transaction.trans_date%></td>
 <td value='<%=transaction.merchant_id_int%>'><%=transaction.merchant.merchant_name_str%></td>
 <td value='<%=transaction.tag_id_int%>'><a href='/tags/<%=transaction.tag_id_int%>/transactions'><%=transaction.tag.tag_name_str%></a></td>
 <td value='<%=transaction.amount_num%>'>£<%=transaction.amount_num%></td>
 <td value='edit'><form action="/transactions/<%=transaction.id%>/edit" method="get">
   <input type="image" src="/images/edit_icon.png" border="0" alt="edit" style="width:20px;" />
</form></td>
 <td value='delete'>
   <form action="/transactions/<%=transaction.id%>/delete" method="post">
     <input type="image" src="/images/delete_icon.png" border="0" alt="delete" style="width:20px;" />
  </form>
</td>
<%end%>
</tr>
</table>
</div>
</div>
