<div class='page-content'>
  <h1 class ='page-title'>Tags</h1>
  <h2 class ='page-intent'>Overview</h2>
  <p class ='page-element'>Tags for review</p>
</div>


  <form action="/tags" method="get">
    <label for='column-select'>Sort by:</label>
    <select id='column-select' name='column'>
      <option value='tag_name_str'>Tag Name</option>
      <option value='budget_num'>Assigned Budget</option>
    </select>
    <label for='order-select'>Order:</label>
    <select id='order-select' name='order'>
      <option value='ASC'>Ascending</option>
      <option value='DESC'>Descending</option>
    </select>
    <input type="submit" value="Sort" />
  </form>
  <hr/>
  <table>
  <tr class='header'>
    <th>Tag Name</th>
    <th>Budget</th>
    <th></th>
    <th></th>
  </tr>
  <%for tag in @tags%>
  <tr>
 <td value='<%=tag.tag_name_str%>'><a href='/tags/<%=tag.id%>/transactions'><%=tag.tag_name_str%></a></td>
 <td value='<%=tag.budget_num%>'><a href='/tags/<%=tag.id%>/transactions'><%=tag.budget_num%></a></td>
 <td value='edit'><form action="/tags/<%=tag.id%>/edit" method="get">
   <input type="submit" value="Edit" />
</form></td>
 <td value='delete'>
   <form action="/tags/<%=tag.id%>/delete" method="post">
     <input type="submit" value="Delete" />
  </form>
</td>
<%end%>
</tr>
</table>
</div>

<!-- <input type="image" id="image" alt="Login"
       src="/media/examples/login-button.png"> Keep this for later-->
