<div id='content-page'>
<div class='wrapper-content'>
  <h1 class ='page-title'> Tags</h1>
  <h2 class ='page-intent'>Transactions in <%=@tag.tag_name_str%></h2>
  <p class ='page-element'></p>

</p id='sum-value'><b>Amount spent:<%=@sum%></b></p>
<table class='table-data'>
  <tr class='header'>
    <th>Date</th>
    <th>Merchant Name</th>
    <th>Tag Name</th>
    <th>Amount</th>
    <th></th>
    <th></th>
  </tr>
  <%for transaction in @transactions%>
  <tr class='transaction_rows'>
 <td value='<%=transaction.trans_date%>'><%=transaction.trans_date%></td>
 <td value='<%=transaction.merchant_id_int%>'><a href='/merchants/<%=transaction.merchant_id_int%>/transactions'><%=transaction.merchant.merchant_name_str%></a></td>
 <td value='<%=transaction.tag_id_int%>'><%=transaction.tag.tag_name_str%></td>
 <td value='<%=transaction.amount_num%>'>£<%=transaction.amount_num%></td>
 <td value='edit'><form action="/transactions/<%=transaction.id%>/edit" method="get">
   <input type="submit" value="Edit" />
</form></td>
 <td value='delete'>
   <form action="/transactions/<%=transaction.id%>/delete" method="post">
     <input type="submit" value="Delete" />
  </form>
</td>
<%end%>
</tr>
</table>
</div>
</div>
