<div class='page-content'>
  <h1 class ='page-title'> Tags</h1>
  <h2 class ='page-intent'>Overview</h2>
  <p class ='page-element'>Transactions in <%=@tag.tag_name_str%> </p>
</div>
</p id='sum-value'><b>Amount spent:<%=@sum%></b></p>
<table>
  <tr class='header'>
    <th>Date</th>
    <th>Merchant Name</th>
    <th>Tag Name</th>
    <th>Amount</th>
    <th></th>
    <th></th>
  </tr>
  <%for transaction in @transactions%>
  <tr class='transaction_rows'>
    <td value='date'>Date</td>
 <td value='<%=transaction.merchant_id_int%>'><%=transaction.merchant.merchant_name_str%></td>
 <td value='<%=transaction.tag_id_int%>'><%=transaction.tag.tag_name_str%></td>
 <td value='<%=transaction.amount_num%>'>£<%=transaction.amount_num%></td>
 <td value='edit'><form action="/transactions/<%=transaction.id%>/edit" method="get">
   <input type="submit" value="Edit" />
</form></td>
 <td value='delete'>
   <form action="/transactions/<%=transaction.id%>/delete" method="post">
     <input type="submit" value="Delete" />
  </form>
</td>
<%end%>
</tr>
</table>
