<div id='content-page'>

  <h1 class ='page-title'> Transactions</h1>
  <h2 class ='page-intent'>Overview</h2>
  <p class ='page-element'>An overview of all your input transactions. Click on a merchant or tag to see further spending.</p>
<p></p>
<p></p>


<form class='sorter' action="/transactions" method="get">
  <label for='column-select'>Sort by:</label>
  <select id='column-select' name='column'>
    <option value='trans_date'>Transaction Date</option>
    <option value='amount_num'>Amount</option>
    <option value='merchant_name_str'>Merchant</option>
    <option value='tag_name_str'>Tag</option>
  </select>
  <label for='order-select'>Order:</label>
  <select id='order-select' name='order'>
    <option value='ASC'>Ascending</option>
    <option value='DESC'>Descending</option>
  </select>
  <input type="submit" value="Sort" />
</form>

<table class='table-data'>
  <tr class='header'>
    <th>Date</th>
    <th>Merchant </th>
    <th>Tag</th>
    <th>Amount</th>
    <th></th>
    <th></th>
  </tr>
  <%for transaction in @transactions%>
  <tr class='transaction_rows'>
 <td value='<%=transaction.trans_date%>'><%=transaction.trans_date%></td>
 <td value='<%=transaction.merchant_id_int%>'><a href='/merchants/<%=transaction.merchant_id_int%>/transactions'><%=transaction.merchant.merchant_name_str%></a></td>
 <td value='<%=transaction.tag_id_int%>'><a href='/tags/<%=transaction.tag_id_int%>/transactions'><%=transaction.tag.tag_name_str%></a></td>
 <td value='<%=transaction.amount_num%>'>£<%=transaction.amount_num%></td>
 <td value='edit'><form action="/transactions/<%=transaction.id%>/edit" method="get">
   <input type="image" src="images/edit_icon.png" border="0" alt="submit" style="width:20px;" />
</form></td>
 <td value='delete'>
   <form action="/transactions/<%=transaction.id%>/delete" method="post">
     <input type="image" src="images/delete_icon.png" border="0" alt="delete" style="width:20px;" />
  </form>
</td>
<%end%>
</tr>
<tfoot>
  <tr>
       <th scope="row" colspan="6"></p id='sum-value'><b> Total for All Transactions: £<%=Transaction.sum%></b></p></th>
     </tr>

</tfoot>
</table>
</div>
