<div class='page-content'>
  <h1 class ='page-title'> Transactions</h1>
  <h2 class ='page-intent'>Overview</h2>
  <p class ='page-element'>Transactions for review</p>
</div>
</p id='sum-value'><b> Total for All Transactions: £<%=Transaction.sum%></b></p>

<form action="/transactions" method="get">
  <label for='column-select'>Sort by:</label>
  <select id='column-select' name='column'>
    <option value='trans_date'>Transaction Date</option>
    <option value='amount_num'>Amount</option>
    <option value='merchant_name_str'>Merchant</option>
    <option value='tag_name_str'>Tag</option>
  </select>
  <label for='order-select'>Order:</label>
  <select id='order-select' name='order'>
    <option value='ASC'>Ascending</option>
    <option value='DESC'>Descending</option>
  </select>
  <input type="submit" value="Sort" />
</form>
<hr/>
<table>
  <tr class='header'>
    <th>Date</th>
    <th>Merchant </th>
    <th>Tag</th>
    <th>Amount</th>
    <th></th>
    <th></th>
  </tr>
  <%for transaction in @transactions%>
  <tr class='transaction_rows'>
 <td value='<%=transaction.trans_date%>'><%=transaction.trans_date%></td>
 <td value='<%=transaction.merchant_id_int%>'><a href='/merchants/<%=transaction.merchant_id_int%>/transactions'><%=transaction.merchant.merchant_name_str%></a></td>
 <td value='<%=transaction.tag_id_int%>'><a href='/tags/<%=transaction.tag_id_int%>/transactions'><%=transaction.tag.tag_name_str%></a></td>
 <td value='<%=transaction.amount_num%>'>£<%=transaction.amount_num%></td>
 <td value='edit'><form action="/transactions/<%=transaction.id%>/edit" method="get">
   <input type="submit" value="Edit" />
</form></td>
 <td value='delete'>
   <form action="/transactions/<%=transaction.id%>/delete" method="post">
     <input type="submit" value="Delete" />
  </form>
</td>
<%end%>
</tr>
</table>
