<div id='content-page'>
<div class='page-content'>
  <h1 class ='page-title'>Monthly Analysis</h1>
  <h2 class ='page-intent'>Transaction totals by budget for <%=@month%>
   <%=@year if @year != 0%></h2>
  <p class ='page-element'></p>
  <form action="/budgets" method="get">
<label for='month_int'>Select a month:</label>
<select id='month_int' name='month'>
 <option value='1'>January</option>
 <option value='2'>February</option>
 <option value='3'>March</option>
 <option value='4'>April</option>
 <option value='5'>May</option>
 <option value='6'>June</option>
 <option value='7'>July</option>
 <option value='8'>August</option>
 <option value='9'>September</option>
 <option value='10'>October</option>
 <option value='11'>November</option>
 <option value='12'>December</option>
</select>
<label for='year_int'>Input Year:</label>
<input id='year_int' type='text' name='year' value='2019' maxlength='4' minlength = '4'/>
<label for='column-select'>Sort by:</label>
<select id='column-select' name='column'>
  <option value='tag_name_str'>Tag Name</option>
  <option value='budget_num'>Budget</option>
  <option value='budget_num'>Amount Spent</option>
</select>
<label for='order-select'>Order:</label>
<select id='order-select' name='order'>
  <option value='ASC'>Ascending</option>
  <option value='DESC'>Descending</option>
</select>
<input type="submit" value="Show Monthly Tag Analysis" />
</form>

<table class='table-data'>
  <tr class='header'>
      <th>Tag</th>
      <th>Budget</th>
      <th>Amount Spent</th>
      <th></th>
      <th></th>
    </tr>
  </tr>
  <% @month_total_int = 0 %>
  <%for budget in @budgets%>

  <tr class='transaction_rows'>
    <td value='tag_name'><%=budget.tag_name_str%></td>
 <td value='budget_value'>£<%=budget.budget_num%></td>
 <td value='tag_total'>£<%=budget.total%></a></td>
 <td value='warning'>
   <% if budget.total.to_f >= (budget.budget_num.to_f*0.8)%>
    <img src="images/warning_icon.png" border="0" alt="warning_icon" style="width:20px;"/>
   <% end %>
   </td>
 <td value='blown'>
   <% if budget.total.to_f >= budget.budget_num.to_f%>
    <img src="images/bomb_icon.png" border="0" alt="budget_blown_icon" style="width:20px;"/>
   <% end %></td>
   <% @month_total_int += budget.total.to_f %>
<%end%>
</tr>
<tr>
  <th scope="row" colspan="5">Total Spent in <%=@month%> : £<%="%.2f" % @month_total_int%></b></th>
  </tr>
</tfoot>
</table>
<p class ='page-element'></p>
</div>
</div>
