<div class='page-content'>
  <h1 class ='page-title'>Monthly Analysis</h1>
  <h2 class ='page-intent'>Transaction totals by budget for <%=@month%></h2>
  <p class ='page-element'></p>


<table>
  <tr class='header'>
      <th>Tag</th>
      <th>Budget</th>
      <th>Amount Spent</th>
      <th>Warning</th>
      <th>Exceeded</th>
    </tr>
  </tr>
  <% @month_total_int = 0 %>
  <%for budget in @budgets%>

  <tr class='transaction_rows'>
    <td value='tag_name'><%=budget.tag_name_str%></td>
 <td value='budget_value'><%=budget.budget_num%></td>
 <td value='tag_total'><%=budget.total%></a></td>
 <td value='warning'>
   <% if budget.total.to_f >= (budget.budget_num.to_f*0.8)%>
    <p>W</p>
   <% end %>
   </td>
 <td value='blown'>
   <% if budget.total.to_f >= budget.budget_num.to_f%>
    <p>B</p>
   <% end %></td>
   <% @month_total_int += budget.total.to_i %>
<%end%>
</tr>
</table>
<p class ='page-element'>Total Spent This Month: £<%=@month_total_int%></p>
</div>
